<!DOCTYPE html>
<html>
<head>
    <link data-require="bootstrap-css@3.3.5" data-server="3.3.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script data-require="angular.js@1.4.7" data-server="1.4.7" src="https://code.angularjs.org/1.4.7/angular.js"></script>
    <script data-require="angular.js@1.4.7" data-server="1.4.7" src="https://code.angularjs.org/1.4.7/angular-mocks.js"></script>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="node_modules/better-placeholders/angular-better-placeholders.css"/>
    <script src="script.js"></script>
    <script src="node_modules/better-placeholders/angular-better-placeholders.js"></script>
</head>
<body>
<div ng-app="MainCtrl" ng-controller="formCtrl" class="container">
    <form class="well input-form" name="inputForm" ng-submit="submit()">
        <div class="form-group has-feedback"
             ng-class="{'has-success': inputForm.email.$dirty && inputForm.email.$valid, 'has-error': inputForm.email.$dirty && inputForm.email.$invalid}">
            <input type="email" name="email" ng-model="data.email" class="better-placeholder form-control" id="exampleInputEmail1" placeholder="Email">
            <span class="glyphicon form-control-feedback" aria-hidden="true"
                  ng-class="{'glyphicon-ok': inputForm.email.$dirty && inputForm.email.$valid, 'glyphicon-remove': inputForm.email.$dirty && inputForm.email.$invalid}"></span>
        </div>
        <div class="form-group has-feedback"
             ng-class="{'has-success': inputForm.password.$dirty && inputForm.password.$valid, 'has-error': inputForm.password.$dirty && inputForm.password.$invalid}">
            <input type="password" name="password" ng-model="data.password" class="better-placeholder form-control" id="exampleInputPassword1" placeholder="Password" required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"
                  ng-class="{'glyphicon-ok': inputForm.password.$dirty && inputForm.password.$valid, 'glyphicon-remove': inputForm.password.$dirty && inputForm.password.$invalid}"></span>
        </div>
        <button type="submit" class="btn btn-primary"
                ng-disabled="inputForm.email.$invalid || inputForm.password.$invalid || inputForm.email.$pristine || inputForm.password.$pristine">Test button</button>

    </form>
    <p>{{data}}</p>
    <p>
        {{inputForm.email}}
        <br/>
        {{inputForm.password}}
    </p>
</div>
</body>
</html>