<!DOCTYPE html>
<html>
<head>
    <script data-require="angular.js@1.4.7" data-server="1.4.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link data-require="bootstrap-css@3.3.5" data-server="3.3.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="script.js"></script>
</head>
<body>
<div ng-app="main" ng-controller="formCtrl" class="container">
    <form class="well input-form">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" ng-model="data.email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" ng-model="data.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    </form>
    <p>{{data}}</p>
</div>
</body>
</html>