<div>
    <p>Hello {{userdata.email}}!</p>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <!--<span ng-show="predicate=='name'" class="glyphicon pull-right" ng-class=""/>-->
            <th ng-click="orderBy('_id')">id</th>
            <th ng-click="orderBy('isActive')">isActive</th>
            <th ng-click="orderBy('name')">name</th>
            <th ng-click="orderBy('balance')">balance</th>
            <th ng-click="orderBy('dob')">date of birth</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="reportRow in data | orderBy:predicate:reverse">
            <td>{{reportRow._id}}</td>
            <td>{{reportRow.isActive}}</td>
            <td>{{reportRow.name}}</td>
            <td>{{reportRow.balance | currency}}</td>
            <td>{{reportRow.dob | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
    </table>
</div>